<div class="container">
  <header><img src="images/Logo-Circle-FVP-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h3>User Signup & Login</h3>
    <p>Please login or <a href="/signup">sign up</a> to register. 

    <form action="/login" method="post">
<h3><table>
  <tr>
    <td align="right">Email:</td>
    <td><input type="text" name="email"></td>
  </tr>
  <tr>
    <td align="right">Password:</td>
    <td><input type="text" name="password"></td>
  </tr>
  <tr>
    <td></td>
    <td align="right"> <input id="submit" type="submit" value="Login"></td>
  </tr>
  </table> </h3>
</form>
    </div>
</div>